{% extends 'base.html.twig' %}

{% block title %}Campus de {{ campus.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5"><i class="ion-ios-paper-outline"></i> Campus de {{ campus.nom }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campus.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ campus.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_campus_index') }}">Retour</a>

    <a class="btn btn-outline-warning" href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>

    <a class="btn btn-outline-danger" onclick="return confirm('Souhaitez vous supprimer ce campus ?');" href="{{ path('app_campus_delete',{'id':campus.id })}}">Supprimer</a>
    </div>
{% endblock %}
