{% extends 'base.html.twig' %}

{% block body %}
    <div class="container rounded bg-white mt-5 mb-5" id="updateProfile">
        {{ form_start(updateForm) }}
        <div class="row">

            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                    {% if utilisateur.photo != NULL %}
                             src="{{ asset('uploads/images/avatars/' ~ utilisateur.photo) }}">
                    {% else %}
                             src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp">
                    {% endif %}

                    {{ form_row(updateForm.photo) }}
                </div>
            </div>

            <div class="col-md-5 border-right border-start">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6"> {{ form_row(updateForm.nom) }} </div>
                        <div class="col-md-6"> {{ form_row(updateForm.prenom) }} </div>
                    </div>

                    <div class="row mt-3">
                        {{ form_row(updateForm.pseudo) }}
                        {{ form_row(updateForm.email) }}
                        {{ form_row(updateForm.telephone) }}
                    </div>

                    <div class="row mt-3">
                        {# <div class="col-md-6">{{ form_row(updateForm.campus) }}</div> #}
                        <div class="col-md-6">{{ form_row(updateForm.password) }}</div>
                    </div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-outline-success profile-button" type="submit">Save Profile</button>
                    </div>
                </div>
            </div>

            {% if app.user.administrateur == true %}
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>Administration</span><span class="border px-3 p-1 add-experience"><i
                                        class="fa fa-plus"></i>&nbsp;Actions rapides</span></div>
                        <br>
                        <div class="col-md-12"><label class="labels">{{ form_row(updateForm.actif) }}</div>
                        <div class="col-md-12">
                            {{ form_row(updateForm.administrateur) }}

                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        {{ form_row(updateForm._token) }}
        {{ form_end(updateForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Modification
{% endblock %}

