{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Campus</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Nom</th>
                <th>Rue</th>
                <th class="d-none d-md-table-cell">Latitude</th>
                <th class="d-none d-md-table-cell">Longitude</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr onMouseOut="javascript:this.style.background='#ffffff'"
                style="cursor: pointer;"
                onMouseOver="javascript:this.style.background='#fddba6'"
                onclick="location.href='{{ path('app_lieu_show', {'id': lieu.id}) }}';"
            >
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.rue }}</td>
                <td class="d-none d-md-table-cell">{{ lieu.latitude }}</td>
                <td class="d-none d-md-table-cell">{{ lieu.longitude }}</td>
                <td>{{ lieu.ville.nom }}</td>
                <td>
                    <a class="icon ion-edit" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}"></a>
                    <a class="icon ion-trash-a"
                       style="color: red"
                       href="{{ path('app_lieu_delete',{'id':lieu.id })}}"
                       onclick="return confirm('Souhaitez vous supprimer ce lieu ?');">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_lieu_new') }}">Ajouter lieu</a>
</div>
{% endblock %}
