{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5"><i class="ion-beer"></i> Lieu: {{ lieu.nom }} </h1>ion-beer

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
            <tr>
                <th>ville</th>
                <td>{{ lieu.ville.nom }}</td>
            </tr>
        </tbody>
    </table>



    <a class="btn btn-outline-dark" href="{{ path('app_lieu_index') }}">Retour</a>

    <a class="btn btn-outline-warning" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Modifier</a>

    <a class="btn btn-outline-danger"
       onclick="return confirm('Souhaitez vous supprimer ce lieu ?');"
       href="{{ path('app_lieu_delete',{'id':lieu.id })}}">Supprimer
    </a>}
</div>
{% endblock %}
