{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th class="d-none d-md-table-cell">Nom</th>
                <th class="d-none d-md-table-cell">Prenom</th>
                <th class="d-none d-md-table-cell">Telephone</th>
                <th class="d-none d-md-table-cell">Administrateur</th>
                <th class="d-none d-md-table-cell">Actif</th>
                <th class="d-none d-md-table-cell">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.nom }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.prenom }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.telephone }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.administrateur ? 'Yes' : 'No' }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('Profil', {'id': utilisateur.id}) }}">profil</a>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
