{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs {% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Utilisateurs</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th class="d-none d-md-table-cell">Nom</th>
                <th class="d-none d-md-table-cell">Prenom</th>
                <th class="d-none d-md-table-cell">Telephone</th>
                <th class="d-none d-md-table-cell">Administrateur</th>
                <th class="d-none d-md-table-cell">Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr onMouseOut="javascript:this.style.background='#ffffff'"
                style="cursor: pointer;"
                onMouseOver="javascript:this.style.background='#fddba6'"
                onclick="location.href='{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}';"
            >
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.nom }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.prenom }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.telephone }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.administrateur ? 'Yes' : 'No' }}</td>
                <td class="d-none d-md-table-cell">{{ utilisateur.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="icon ion-edit" href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}"></a>
                    <a class="icon ion-trash-a" style="color: red" href="{{ path('app_utilisateur_delete',{'id':utilisateur.id })}}" onclick="return confirm('Souhaitez vous supprimer cette utilisateur ?');"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Il n'y a aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_utilisateur_new') }}">Ajouter utilisateur</a>
</div>
{% endblock %}
